/* Estilos do container principal */
.container-login {
  display: flex;
  background-color: var(--cinza-escuro);
  padding: 2em;
  border-radius: 32px;
}

.container-login form {
  margin: 0 14.5px;
  font-size: 18px;
  font-weight: 400;
}

/* Estilos do subtitulo */
.form__texto {
  margin: 1.5em 0 2.5em 0;
  font-weight: 400;
  font-size: 22px;
  color: #fff;
}

.form__campo-checkbox label:hover::after {
  opacity: 0.3;
}

.form__campo-checkbox input[type='checkbox'] {
  visibility: hidden;
}

.form__campo-checkbox input[type='checkbox']:checked + label::after {
  opacity: 1;
}

/* Estilos do botão */
.form__botao {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5em;
  color: var(--verde-petroleo);
  background-color: var(--grafite);
  width: 100%;
  padding: 12px 16px 12px 16px;
  border-radius: 8px;
  border: none;
  font-family: var(--fonte);
  font-size: 18px;
  font-weight: 600;
  margin: 2em 0;
  cursor: pointer;
}

.form__botao::after {
  content: ' ';
  width: 25px;
  height: 20px;
  background-image: url('../img/flecha.svg');
  background-repeat: no-repeat;
  background-size: 1em;
}

/* form__campo-digitacao é a classe do container dos inputs */

.form__campo-digitacao input {
  margin-top: 0.5em;
  padding: 0.5em 1em;
  border-radius: 4px;
  width: 100%;
  border: none;
  font-family: var(--fonte);
  font-size: 18px;
  color: #fff;
}

input:not(:focus) {
  background-color: var(--cinza-medio) !important;
  color: #fff;
}
input:focus {
  background-color: var(--cinza);
  outline: black;
}

input:not(:focus)::placeholder {
  color: var(--cinza);
  font-family: var(--fonte);
  font-size: 15px;
}

.form__campo-digitacao label {
  display: block;
}

.form__campo-digitacao label:last-of-type {
  margin-top: 1em;
  color: #fff;
}
