:root {
  --fonte: "Prompt", sans-serif;
  --verde-petroleo: #132e35;
  --grafite: #266f7e;
  --cinza-escuro: #171d1f;
  --cinza-medio: #888888;
  --cinza: #3e3e3f;
  --cinza-claro: #bcbcbc;
  --offwhite: #e1e1e1;
  --branco: #ffffff;
  --preto: #000000f5;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.rains-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

.rain {
  position: absolute;
  bottom: 100%;
  width: 2px;
  height: 20px;
  background: linear-gradient(white, transparent);
  animation: fall linear infinite;
}

@keyframes fall {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(100vh);
  }
}

.audioChuva {
  width: 150px;
  height: 35px;
  background-color: var(--grafite);
  font-size: 14px;
  font-weight: 600;
  color: var(--verde-petroleo);
  cursor: pointer;
  border-radius: 5px;
  margin: 1em;
}

#root {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
}

.container-login {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.bolinhas {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.bolinha {
  width: 10px;
  height: 10px;
  margin: 0 5px;
  background-color: lightgray;
  border-radius: 50%;
  cursor: pointer;
}

.bolinha.ativa {
  background-color: gray;
}

.container-img {
  width: 100%;
  max-width: 250px;
  height: 320px;
  overflow: hidden;
}

.container-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

body,
html {
  background: linear-gradient(rgb(0, 0, 0), rgb(0, 0, 51));
}
